{% extends 'base.html' %}

{% block content %}
	<div class="conteudo bg-aqua-active color-palette">
		<h2>Bem vindo ao mundo K-POP</h2>
		<p>Pelas redes sociais, não é muito difícil cruzar com algo relacionado a k-pop. A música sul-coreana se tornou um fenômeno na internet, e milhares de jovens são apaixonados pelas músicas. Seguindo a mesma fórmula do pop norte-americano e europeu, a maior barreira com o estilo é a língua, já que é cantada em coreano e com alguns trechos em inglês.</p>
	</div>
{% endblock %}