{% extends 'base.html' %}

{% block content %}
	<div class="conteudo bg-aqua-active color-palette">
		<h2>Sobre o Mundo K-POP</h2>
		<p>K-pop (abreviação de korean pop (música pop coreana ou música popular coreana) é um gênero musical originado na Coreia do Sul, que se caracteriza por uma grande variedade de elementos audiovisuais. Embora designe todos os gêneros de "música popular" dentro da Coreia do Sul, o termo é usado mais frequentemente em um sentido mais restrito, para descrever uma forma moderna da música pop sul-coreana, que abrange estilos e gêneros incorporados do ocidente como pop, rock, jazz, hip hop, R&B, reggae, folk, country, além de suas raízes tradicionais de música coreana. O gênero surgiu com Seo Taiji and Boys, um dos primeiros grupos de K-pop e formado em 1992. Sua experimentação realizada com diferentes estilos de música "remodelou a cena musical da Coreia do Sul". Como resultado, a integração de elementos musicais estrangeiros, tornou-se uma prática comum aos artistas de K-pop da atualidade.</p>
	</div>
{% endblock %}